@model dentist2.Models.openinghour

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Maneger/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>openinghour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.startday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.andday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.andday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.starttime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.starttime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.andtime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.andtime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
